@page
@model Avanze_ProjectoWeb.Pages.Projecto.ApoyoProyectosModel
@{
    ViewData["Title"] = "Apoyo de Proyectos";
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- css -->
    <link rel="stylesheet" href="~/css/apoyoProyectos.css" asp-append-version="true" />
</head>

<body>
    <div class="divTitle">
        <h2>
            @Model.Titulo
        </h2>
    </div>
    @*CORREGIR_BOTON_TAPIA*@

       <button style="padding: 10px; /* Tamaño fijo para el padding vertical y horizontal */
        border-radius: 10px;
        background-color: #79C37C;
        color: white;
        border: 2px solid #79C37C;
        text-decoration: none;
        margin-right: 5px;
        transition: background-color 0.3s, color 0.3s;
        display: inline-block;
        align-items: center;
        justify-content: center;
        min-width: 100px; /* Establece un ancho mínimo */
        height: 100%;
        text-decoration: none;">  <a asp-page="PerfilInterfaz" style ="text-decoration: none; color: white;">Regresar</a></button>

    <div class="container">
        <div class="image-container" style="width:800px">
            
            @{
                var projectPngBytes = Model.photo;
                if (projectPngBytes != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(projectPngBytes)" alt="Project image" />
                }
            }
        </div>
        <div class="content-container">
            <div class="centered-content">
                <br />
                <div>
                     <form method="post"> 

                    <h3>Apoyo para el proyecto:</h3>
                     <input type="hidden" asp-for="idA" />
                     <p>@Model.Titulo</p>

                     <select asp-for="@Model.TypoApoyo" class="form-control">
                         @{
                        // vaciado de la lista de categorías

                        foreach (var categoria in Model.MyPatronList)
                        {
                            <option value="@categoria">@categoria</option>
                        }
                    }

                    </select>
                     <span asp-validation-for="TypoApoyo" ></span> 
                        <br />
                      <textarea asp-for="@Model.DescriApoyo"  rows="3" placeholder="Describe tu apoyo,link,invitacion,etc"></textarea>
                    <span asp-validation-for="DescriApoyo" ></span> 
           
                     
                        <div class="button-container">
                            <div class="top-buttons">
                                @if(Model.checkPatreon)
                                {
                                    <button type="submit" name="handler" value="Aplicar" class="button1" disabled>Ya Aplica</button>
                                }
                                else
                                {
                                    <button type="submit" name="handler" value="Aplicar" class="button1" >Aplicar</button>
                                }
                            </div>
                            <div class="bottom-buttons">
                                @if(Model.checkFollow)
                                {
                                    <button type="submit" name="handler" value="Seguir" class="button1">Dejar de seguir</button>
                                }
                                else
                                {
                                    <button type="submit" name="handler" value="Seguir" class="button1">Seguir</button>
                                }

                                <button type="button" class="button1">Visitar Social Media</button>
                            </div>
                        </div>
                     </form>
                </div>
                <br />
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="content-container2">
            <p class="text1">Historia del proyecto</p>
            <p class="textP">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            @{
                var projectPngByte = Model.photo2;
                if (projectPngByte != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(projectPngByte)" alt="Project image" />
                }
            }
           
            <br>
            <p class="textP">
                El crowdfunding tradicionalmente es una forma de financiación
                online para obtener el impulso económico.
            </p>
        </div>
        
        
    </div>


    <!-- Footer End -->
  
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
