@page
@model Avanze_ProjectoWeb.Pages.Projecto.TModel
@{
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tablas.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3 text-center">
                <div class="contenedor-blanco">
                    <h2>Mi Perfil</h2>
                    <br>
                    <div>
                                @{
                    var projectPngBytes = Model.fotorwecuperar;
                    if (projectPngBytes != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(projectPngBytes)" alt="Foto de usuario" style="max-width: 150px; max-height: 150px;"/>
                    }
                        }
                    </div>
                    <br>
                    <h4> @CrowdFundingDAO.Model.SessionClass.SessionUserName</h4>
                    <a class="textazul" href="#">&#64;@CrowdFundingDAO.Model.SessionClass.SessionUserName</a>
                    <br></br>

                    <div class="div1">
                        <a class="textgris" href="#">Configurar Cuenta</a>
                        <a class="textgris" href="#">Editar Perfil</a>
                        <a class="textgris" href="#">Ayuda</a>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-4">
                            <div class="aumento">
                                @Model.NCampañas
                            </div>

                            <a class="textazul" href="#">Campañas</a>

                        </div>
                        <div class="col-4">
                            <div class="aumento">
                                @Model.NSeguidas
                            </div>

                            <a class="textazul" href="#">Seguidas</a>

                        </div>
                        <div class="col-4">
                            <div class="aumento">
                                @Model.NApoyadas
                            </div>

                            <a class="textazul" href="#">Apoyadas</a>
                        </div>
                    </div>
                    <br></br>
                    <h4>Informacion</h4>
                    <br>
                    <h5>Email</h5>
                    <P class="textgris2">@CrowdFundingDAO.Model.SessionClass.SessionEmail</P>
                    <br>
                    <h5>Participa desde</h5>
                    <P class="textgris2">@CrowdFundingDAO.Model.SessionClass.registerDate.ToString("dd/MM/yyyy")</P>
                    <br></br>
                </div>
            </div>

            <div class="col-7">
                <div class="contenedor-blanco">
                    <h2>Mi panel de control </h2>
                    <details class="details contenedor-blanco2">
                        <br>
                        <summary class="contenedor-blanco2">Campañas a las que sigues</summary>

                        <div class="pading">
                            @foreach (var proyecto in Model.myFollows)
                            {
                                <h5> @proyecto.Item2 </h5>
                                <p> @proyecto.Item3 </p>
                                <a asp-page="ApoyoProyectos" asp-route-id="@proyecto.Item1">Ver</a>
                                <br></br>
                                <hr>
                            }
                        </div>
                    </details><br>

                    <details class="contenedor-blanco2 details">
                        <br>
                        <summary class="contenedor-blanco2">Campañas a las que apoyaste</summary>

                        <div class="pading">
                            @foreach (var proyecto in Model.mySupports)
                            {
                                <h5> @proyecto.Item2 </h5>
                                <p> @proyecto.Item3 </p>
                                <a asp-page="ApoyoProyectos" asp-route-id="@proyecto.Item1">Ver</a>
                                <br></br>
                                <hr>
                            }
                            @* campañas que yo apoye*@
                            
                        </div>
                    </details><br>

                    <details class="contenedor-blanco2 details">
                        <br>
                        <summary class="contenedor-blanco2" ;">Mis campañas</summary>
                        <div class="pading">
                            @foreach (var proyecto in Model.myProjects)
                            {
                                <h5> @proyecto.Item2 </h5>
                                <p> @proyecto.Item3 </p>
                                <a asp-page="editProject" asp-route-id="@proyecto.Item1">Editar</a><br></br>
                                <a asp-page="ReceivedSupport" asp-route-id="@proyecto.Item1" class="btn1">Apoyos recibidos</a>
                                <br></br>
                                <hr>

                            }

                            @*Mis campañas*@
                            
                        </div>
                    </details><br>
                </div>


            </div>
            <div class="col-1">
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

